.coverage
.DS_Store
.installed.cfg
.mr.developer.cfg
.python-version
.tox/
.vscode/
*.egg-info
*.log
*.mo
*.py?
*.swp
bin/
buildout-cache/
develop-eggs/
dist/*
eggs/
htmlcov/
include/
lib/
lib64
local/
log.html
node_modules/
output.xml
parts/
pip-selfcheck.json
pyvenv.cfg
report.html
reports/
test.plone_addon/
var/
venv/
