[buildout]
extends = https://raw.githubusercontent.com/plone/buildout.coredev/refs/heads/6.1/versions.cfg
show-picked-versions = true
develop = .
parts =
    instance
    omelette


[instance]
recipe = plone.recipe.zope2instance
eggs =
    Plone
    collective.contentsections
user = admin:admin
zodb-temporary-storage = off
environment-vars =
    zope_i18n_compile_mo_files true


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[versions]
plone.base = 2.0.3
