graft src/collective
include *.md
include *.json
include .editorconfig
include LICENCE
include Makefile
include buildout.cfg
exclude demo.json
global-exclude *.pyc
global-exclude .DS_Store
recursive-exclude node_modules *
recursive-exclude docs *
